DATABASE_URL="postgresql://postgres:postgres@localhost:5432/irctc?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=irctc
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050
JWT_SECRET=your_jwt_secret
RESEND_API_KEY=your_resend_api_key
